<nav class="topnav">
    <div class="brand">
        <a href="/">RIPPLE</a>
    </div>

    <!-- Hidden checkbox controls menu -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle" />

    <!-- Hamburger icon -->
    <label for="menu-toggle" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <!-- Mobile dropdown -->
    <ul class="nav-links">
        <li><NavLink href="/about">About</NavLink></li>
        <li><NavLink href="/aquaponics">Aquaponics</NavLink></li>
        <li><NavLink href="/facility">Our Facility</NavLink></li>
        <li><NavLink href="/impact">Impact</NavLink></li>
        <li><NavLink href="/get-involved">Get Involved</NavLink></li>
        <li><NavLink href="/faq">FAQ</NavLink></li>
        <li><NavLink href="/contact">Contact</NavLink></li>
        <li><NavLink href="/donate" class="donate-btn">Donate</NavLink></li>
    </ul>
</nav>
